# SUSE maintains their own package separately from Fedora.
name: FIO-SUSE-Build
on:
  workflow_call:
    outputs:
      # Obviously need different outputs here
      fio_pkg_gfio_filename:
        description: "Filename for the GFIO RPM package."
        value: ${{ jobs.build.outputs.fio_pkg_gfio_filename }}
      fio_pkg_gfio_artifact_id:
        description: "GHA Artifact ID for GFIO RPM package."
        value: ${{ jobs.build.outputs.fio_pkg_gfio_artifact_id }}
      fio_pkg_filename:
        description: "Filename for the FIO runtime RPM package."
        value: ${{ jobs.build.outputs.fio_pkg_filename }}
      fio_pkg_artifact_id:
        description: "GHA Artifact ID for FIO runtime RPM package."
        value: ${{ jobs.build.outputs.fio_pkg_artifact_id }}
      fio_pkg_source_filename:
        description: "Filename for the FIO source RPM package."
        value: ${{ jobs.build.outputs.fio_pkg_source_filename }}
      fio_pkg_source_artifact_id:
        description: "GHA Artifact ID for FIO source RPM package."
        value: ${{ jobs.build.outputs.fio_pkg_source_artifact_id }}
permissions:
  contents: read
jobs:
  build:
    runs-on: [ubuntu-24.04]
    container:
      image: opensuse/leap:15.6
      env:
        ROCM_VERSION: 7.2.0
    defaults:
      run:
        shell: bash
    outputs:
      fio_pkg_gfio_filename: ${{ steps.pkg-metadata.outputs.FIO_PKG_GFIO_FILENAME }}
      fio_pkg_gfio_artifact_id: ${{ steps.artifact-gfio.outputs.artifact-id }}
      fio_pkg_filename: ${{ steps.pkg-metadata.outputs.FIO_PKG_FILENAME }}
      fio_pkg_artifact_id: ${{ steps.artifact-runtime.outputs.artifact-id }}
      fio_pkg_source_filename: ${{ steps.pkg-metadata.outputs.FIO_PKG_SOURCE_FILENAME }}
      fio_pkg_source_artifact_id: ${{ steps.artifact-source.outputs.artifact-id }}
    steps:
      - name: Setup ROCm Repo
        run: |
          export ROCM_PKG_REPO_VERSION="$(echo ${ROCM_PKG_REPO_OVERRIDE:-$ROCM_VERSION} | sed -E 's|([^.]+\.[^.]+)\.0$|\1|')"
          cat <<EOF > /etc/zypp/repos.d/rocm.repo
          [ROCm-${ROCM_VERSION}]
          name=ROCm${ROCM_VERSION}
          baseurl=https://repo.radeon.com/rocm/zyp/${ROCM_PKG_REPO_VERSION}/main
          enabled=1
          priority=50
          gpgcheck=1
          gpgkey=https://repo.radeon.com/rocm/rocm.gpg.key
          EOF
          zypper --gpg-auto-import-keys refresh
          cat <<EOF > /etc/ld.so.conf.d/rocm.conf
          /opt/rocm/lib
          /opt/rocm/lib64
          EOF
          ldconfig
      - name: Install FIO development dependencies
        run: |
          zypper install -y \
            cunit-devel \
            gtk2-devel \
            libaio-devel \
            libcurl-devel \
            libiscsi-devel \
            libnbd-devel \
            libnuma-devel \
            libpmem-devel \
            librbd-devel \
            librdmacm-devel \
            openssl-devel \
            zlib-devel \
            rpm-build
      - name: Install hipFile development dependencies
        run: |
          zypper install -y \
            hip-devel \
            libmount-devel
      - name: Install latest hipFile dev package
        run: |
          curl -L https://github.com/ROCm/hipFile/releases/download/nightly/hipfile-0.2.0.70200-nightly.opensuse156.9999.x86_64.rpm -o hipfile.rpm
          curl -L https://github.com/ROCm/hipFile/releases/download/nightly/hipfile-devel-0.2.0.70200-nightly.opensuse156.9999.x86_64.rpm -o hipfile-devel.rpm
          zypper install -y --allow-unsigned-rpm ./hipfile.rpm ./hipfile-devel.rpm
      - name: Fetching FIO repository...
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd #v6.0.2
        with:
          # Need to specify, otherwise uses the wrong ref if calling this workflow
          # from another repo.
          # Need to change to `hipFile` branch.
          repository: ROCm/fio
          ref: rildixon/ci-hook-for-hipfile
          path: ${{ github.workspace }}/fio/fio-src
      - name: Setup rpmbuild environment
        working-directory: ${{ github.workspace }}/fio
        run: |
          mkdir -p rpmbuild/BUILD rpmbuild/RPMS rpmbuild/SOURCES rpmbuild/SPECS rpmbuild/SRPMS
          export FIO_VERSION="$(./fio-src/FIO-VERSION-GEN 2>&1 | sed -E 's|.*fio-([0-9.]+).*|\1|')"
          echo "FIO_VERSION=${FIO_VERSION}" >> "${GITHUB_ENV}"
          tar -cjf ./rpmbuild/SOURCES/fio-${FIO_VERSION}.tar.bz2 \
            --exclude="debian" \
            --exclude="rpm" \
            --exclude-vcs \
            --transform="s|^fio-src|fio-${FIO_VERSION}|" \
            fio-src
          cp ./fio-src/rpm/suse/fio.spec ./rpmbuild/SPECS
      - name: Build FIO with hipFile support
        working-directory: ${{ github.workspace }}/fio/rpmbuild
        # Referencing github.workspace from the shell within a container
        # does not work out very well.
        # Example assuming GitHub hosted CI runner:
        # github.workspace:    /home/runner/work/fio/fio
        # Container workspace: /_w/fio/fio
        # Use `realpath .` to resolve the container path.
        #
        # The SUSE RPM macros are an approximation and may not match the
        # authoritative source in "/usr/lib/build/configs".
        #
        # As mentioned in the SUSE spec file, SUSE usually uses OBS to build
        # packages. However, using that is not really feasible here at this time.
        run: |
          IS_OPENSUSE=$(source /etc/os-release; [[ ${ID} == opensuse* ]] && echo 1 || echo 0)
          SUSE_VERSION=$(awk -F= '/^VERSION_ID=/{gsub(/"/,""); split($2,a,"."); printf "%d%02d", a[1], a[2]}' /etc/os-release)
          SLE_VERSION=$(awk -F= '/^VERSION_ID=/{gsub(/"/,""); split($2,a,"."); printf "%d%02d00", a[1], a[2]}' /etc/os-release)
          SUSE_DISTRO="opensuse$(source /etc/os-release && echo "${VERSION_ID//./}")."
          echo "SUSE_DISTRO=${SUSE_DISTRO}" >> "${GITHUB_ENV}"
          rpmbuild \
            -ba \
            --define="_topdir $(realpath .)" \
            --define="is_opensuse ${IS_OPENSUSE}" \
            --define="suse_version ${SUSE_VERSION}" \
            --define="sle_version ${SLE_VERSION}" \
            --define="dist ${SUSE_DISTRO}" \
            --with=libhipfile \
            ./SPECS/fio.spec
      - name: Capture package metadata
        id: pkg-metadata
        env:
          _rpm_path: ./RPMS/x86_64
          _srpm_path: ./SRPMS
        working-directory: ${{ github.workspace }}/fio/rpmbuild
        run: |
          shopt -s nullglob
          ls -al ${_rpm_path} ${_srpm_path}
          FIO_PKG_GFIO_FILENAME="$(basename ${_rpm_path}/gfio-${FIO_VERSION}-${SUSE_DISTRO}[0-9]*.rpm)"
          FIO_PKG_FILENAME="$(basename ${_rpm_path}/fio-${FIO_VERSION}-${SUSE_DISTRO}[0-9]*.rpm)"
          FIO_PKG_SOURCE_FILENAME="$(basename ${_srpm_path}/fio-${FIO_VERSION}-${SUSE_DISTRO}[0-9]*.src.rpm)"

          echo "FIO_PKG_GFIO_FILENAME=${FIO_PKG_GFIO_FILENAME}" >> "${GITHUB_OUTPUT}"
          echo "FIO_PKG_FILENAME=${FIO_PKG_FILENAME}" >> "${GITHUB_OUTPUT}"
          echo "FIO_PKG_SOURCE_FILENAME=${FIO_PKG_SOURCE_FILENAME}" >> "${GITHUB_OUTPUT}"
      - name: Print package metadata for debugging
        env:
          _rpm_path: ./RPMS/x86_64
          _srpm_path: ./SRPMS
        working-directory: ${{ github.workspace }}/fio/rpmbuild
        run: |
          echo "Runtime Package:"
          ${{ format('rpm -qpil --requires {0}/{1}', env._rpm_path, steps.pkg-metadata.outputs.FIO_PKG_FILENAME) }}
          echo -e "\n\nGFIO Package:"
          ${{ format('rpm -qpil --requires {0}/{1}', env._rpm_path, steps.pkg-metadata.outputs.FIO_PKG_GFIO_FILENAME) }}
          echo -e "\n\nSource Package:"
          ${{ format('rpm -qpil --requires {0}/{1}', env._srpm_path, steps.pkg-metadata.outputs.FIO_PKG_SOURCE_FILENAME) }}
      - name: Upload FIO Runtime Package as an Artifact
        id: artifact-runtime
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f #v6.0.0
        with:
          name: ${{ steps.pkg-metadata.outputs.FIO_PKG_FILENAME }}
          path: ${{ format('{0}/fio/rpmbuild/RPMS/x86_64/{1}', github.workspace, steps.pkg-metadata.outputs.FIO_PKG_FILENAME) }}
          if-no-files-found: error
          retention-days: 1
          compression-level: 0
      - name: Upload GFIO Package as an Artifact
        id: artifact-gfio
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f #v6.0.0
        with:
          name: ${{ steps.pkg-metadata.outputs.FIO_PKG_GFIO_FILENAME }}
          path: ${{ format('{0}/fio/rpmbuild/RPMS/x86_64/{1}', github.workspace, steps.pkg-metadata.outputs.FIO_PKG_GFIO_FILENAME) }}
          if-no-files-found: error
          retention-days: 1
          compression-level: 0
      - name: Upload FIO Source Package as an Artifact
        id: artifact-source
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f #v6.0.0
        with:
          name: ${{ steps.pkg-metadata.outputs.FIO_PKG_SOURCE_FILENAME }}
          path: ${{ format('{0}/fio/rpmbuild/SRPMS/{1}', github.workspace, steps.pkg-metadata.outputs.FIO_PKG_SOURCE_FILENAME) }}
          if-no-files-found: error
          retention-days: 1
          compression-level: 0
